body,
h1 {
    font-family: "Raleway", sans-serif;
    color: azure;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: auto;
    margin: 0 auto; 
    border: none; 
    padding: 0;
}

th {
    padding: 5px;
    border-bottom: 1px solid azure;
}

td {
    padding: 5px;
    border-bottom: 1px solid azure;
}

table { 
    border-collapse: collapse; 
}


.gt-background {
    background-image: url("../images/background-forest.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.gt-line {
    margin: auto;
    /* width: 40%; */
    border-color: #9e9e9e !important
}

.gt-text {
    font-size: 64px !important;
    color: azure;
    text-align: center;
}

.gt-transparent {
    background-color: Transparent;
    background-repeat: no-repeat;

}

.gt-input {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    padding: 10px;
    border-color: azure;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    color: azure;
    font-size: 24px;
    text-align: center;
}

.gt-table {
    padding: 10px;
    margin: auto;
    text-align: center;
}

.gt-table-wrapper{
    margin-top: 50px;
}

.gt-table-left {
    width: 10%;
}

.gt-table-right {
    width: 90%;
}

.display-center-middle {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.display-middle {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.realtive {
    position: relative;
}

/* ::-webkit-input-placeholder {
    text-align: center;
 } */